body{
    color:rgb(189, 189, 223);
    background:rgb(12, 12, 37);
    font-family: "Indie Flower", cursive;
    font-size:25px;
    display: flex;
    justify-content: center;
    align-items:center;
    height:700px;
}
button {
    color:black;
    background:white;
    font-family:"Indie Flower";
    font-size:20px;

}

.passo {
    display:none;
}
.passo.ativo{
    display:block;
}
